*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    align-content: center;
    min-height: 50vh; 
}


body {
    background-color: #5d9e5b;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-shadow: 3px 3px #b5377f;
  }
  h2 {
    background-color: rgb(143, 128, 250);
    border-radius: 23px;
    font-size: 48px;
    text-align: center;
    min-width: 40vh;
    margin-top: 100px;
    margin-bottom: 50px;
    text-shadow: 3px 3px #b5377f;
  }
  table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    
    border: 2px solid #37505C;
    background-color: #f7d9f0;
    box-shadow: 5px 5px 10px #37505C;
  }
  th, td {
    padding: 20px;
    text-align: center;
    border: 2px solid #37505C;
    background-color: #ffffff;
    color: #113537;
    font-size: 20px;
  }
  th {
    background-color: #37505C;
    padding: 20px;
    text-align: center;
    border: 2px solid #37505C;
    color: #ffffff;
    font-size: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    border: 10px solid #e8b2d7;
    box-shadow: 5px 5px #b5377f;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
  }
  .shape {
    position: absolute;
    z-index: -1;
    opacity: 3;
    animation: rotate 10s linear infinite;
  }
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #b5377f;
    top: 20%;
    left: 10%;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #e8b2d7;
    top: 60%;
    left: 80%;
    transform: rotate(45deg);
  }
  .rectangle {
    width: 150px;
    height: 80px;
    background-color: #ffffff;
    top: 70%;
    left: 20%;
    transform: rotate(-145deg);
  }
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }