html {
    scroll-behavior: smooth;
}   
a {
    text-decoration: none;
    font-size: 30px;
    text-shadow: 3px 3px #b5377f;
    color: #ffffff;
    background-color: #9C9583; 
    margin-bottom: none;
}   

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body{
    background-color: #9C9583;
}
section{
    display: grid;
    place-items: center;
    align-items: center;
    align-content: center;
    min-height: 100vh; 
    background-color: #9C9583;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: auto;
}
h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 15%;
    text-shadow: 3px 3px #b5377f;
    color: #ffffff;
    background-color: #9C9583;
    position: flex;
    top: 50%;
    width: 100%;
    justify-items: center;
    align-items: center;   
    
}
h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50%;
    text-shadow: 3px 3px #b5377f;
    color: #ffffff;
    background-color: #9C9583;
    position: flex;
    top: 50%;
    width: 100%;
    justify-items: center;
    align-items: center;   
}
h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 1%;
    text-shadow: 3px 3px #b5377f;
    color: #ffffff;
    background-color: #9C9583;
    position: flex;
    top: 50%;
    width: 100%;
    margin-top: 1%;
    padding-top: 1%;
    justify-items: center;
    align-items: center;   
    
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    background-color: #f7d9f0;
    
    margin-bottom: 15%;
  }
  th, td {
    padding: 20px;
    text-align: center;
    border: 2px solid #E2D4B7;
    background-color: #9C9583;
    color: #ffff;
    font-size: 20px;
  }
  th {
    background-color: #E2D4B7;
    padding: 20px;
    text-align: center;
    color: #000000;
    font-size: 20px;

  
    
  }
.frankdiv{
    width: 100%;
    margin-top: 30vh;
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: #9C9583;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-clip: margin-box;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
}
form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}
input,
select,
textarea{
    height: 6rem;
    margin: 0 auto;
    width: 24rem;
    padding: 1.4rem;
    background-color:  #ffffff ;
    border: 1px solid black;
    border-radius: 23px;
}

button{   
    margin: 0 auto;
    padding: .4rem;
    cursor: pointer;
    background-color: #E2D4B7;
    color: white;
    border-radius: 23px;
    font-size: 48px;
    width: 25rem;
    text-align: center;
    min-width: 20vh;
    margin-top: 1%;
    margin-bottom: 50px;
    text-shadow: 3px 3px #b5377f;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{transform:rotate(360deg) ;
    }
}
